/* fonts */
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,700&display=swap");

.MainIntro-Section {
  display: flex;
  justify-content: center;
}
.MainIntro-wrapper {
  width: 100%;
  height: 50vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  position: fixed;
  top: 71px;
}

.intro-inner-wrapper {
  box-sizing: border-box;
}

.iiw-f1,
.iiw-f2 {
  margin: 0;
}

.iiw-f1,
.iiw-f3 {
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-name: introtext;
}

@keyframes introtext {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.iiw-f1 {
  font-size: 2vh;
  text-align: left;
  padding-left: 35vw;
  font-weight: bold;
  color: #615b75;
}

.iiw-f2 {
  font-size: 6vh;
  font-weight: bold;
  -webkit-text-fill-color: #615b75;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #615b75;
  animation-delay: 0s;
  animation-name: introtext;
  animation-duration: 3s;
}

.iiw-f2 label {
  -webkit-text-fill-color: #fd8f4c;
  -webkit-text-stroke-color: #fd8f4c;
  font-size: 6.5vh;
}
.iiw-f3 {
  font-size: 3.3vh;
  text-align: right;
  padding-right: 30vw;
  font-weight: bold;
  color: #615b75;
}
.iiw-f3 label {
  color: #facc08;
}

.MyInfoBox {
  box-sizing: border-box;
  background-color: white;
  width: 100%;

  position: relative;
  z-index: 1;
  margin-top: 50vh;
  display: flex;
  justify-content: center;
}

.mib-InnerWrapper {
  padding-top: 50px;
  width: 1440px;
  box-sizing: border-box;
  height: 50vh;
}

.mib-iw-Content {
  box-sizing: border-box;
  padding: 0 300px;
  display: flex;
  justify-content: space-around;
}

.mib-iw-con-about {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  font-family: "KoHo", sans-serif;
  color: #615b75;
}

.mib-iw-con-introduce {
  display: flex;
  justify-content: center;
  text-align: left;
}

.int-fonts {
  color: #615b75;
  font-size: 20px;
  font-family: "KoHo", sans-serif;
}

.mib-iw-con-skils {
  height: 25vh;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.mib-iw-con-s {
  font-size: 30px;
  margin-bottom: 30px;
}
.mib-iw-con-s-w {
}

.s-chart-f {
  font-size: 20px;
  margin-bottom: 20px;
}

.chart {
  height: 2px;
  background-color: #fd8f4c;
  display: block;
  box-sizing: border-box;
  width: 90%;
}
.chart-b {
  width: 70%;
  background-color: #facc08;
}
