.MainIntro-wrapper {
  width: 100%;
  height: 50vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  position: fixed;
  top: 71px;
}

.intro-inner-wrapper {
  box-sizing: border-box;
}

.iiw-f1,
.iiw-f2,
.iiw-f3 {
  margin: 0;
  text-transform: uppercase;
}

.iiw-f1,
.iiw-f3 {
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-name: introtext;
}

@keyframes introtext {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.iiw-f1 {
  font-size: 2vh;
  text-align: left;
  padding-left: 30vw;
  font-weight: bold;
  color: #615b75;
}

.iiw-f2 {
  font-size: 6vh;
  font-weight: bold;
  -webkit-text-fill-color: #fd8f4c;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fd8f4c;
  animation-delay: 0s;
  animation-name: introtext;
  animation-duration: 3s;
}

.iiw-f2 label {
  -webkit-text-fill-color: #fd8f4c;
  -webkit-text-stroke-color: #fd8f4c;
  font-size: 6.5vh;
}
.iiw-f3 {
  font-size: 3.5vh;
  text-align: right;
  padding-right: 20vw;
  font-weight: bold;
  color: #615b75;
}
.iiw-f3 label {
  color: #facc08;
}

.MyInfoBox {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 750px;
  position: relative;
  z-index: 1;
  margin-top: 50vh;
}
