html,
body {
  text-align: center;
  margin: 0;
  height: 100%;
  background-color: #f0f0f0;
}

body {
  box-sizing: border-box;
  padding-top: 71px;
}
/* rootdiv */
#rootDiv {
  display: flex;
  flex-direction: column;
}
/* header */

header {
  float: left;
  box-sizing: border-box;
  background-color: white;
  height: 71px;
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid #dbdbdb; */
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.header_div {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.navbar {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav_rogoimg {
  height: 100%;
  align-self: flex-start;
  margin: 0 20px;
}

.nav_rogoimg img {
  height: 100%;
  object-fit: cover;
}

.header_ul {
  display: flex;
  list-style: none;
  padding: 0 50px;
  justify-content: center;
}

.header_ul_li {
  float: left;
  margin-left: 11px;
  color: #aaaa;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Poppins", Arial, sans-serif;
  padding: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  line-height: 1.8px;
}

.header_ul :nth-child(1) a {
  color: black;
}

.header_ul_li a:link {
  color: #aaaa;
  text-decoration: none;
}

.header_ul :nth-child(1) a:link {
  color: #aaaa;
  text-decoration: none;
}

.header_ul .header_ul_li a:visited {
  color: #aaaa;
  text-decoration: none;
}

.header_ul :nth-child(1) a:visited {
  color: black;
}

.header_ul_li a:hover {
  color: #a17672;
}

/* body section */
section.body {
  box-sizing: border-box;
}

/* footer */
footer {
}
